@media (max-width: 46.1875em) {
  #target-about,
  #banner,
  #nav {
    position: initial;
  }

  #nav .nav-item .name,
  #nav .nav-item .job,
  #nav .advanced {
    display: none;
  }

  /* Navigation */
  #nav {
    display: block;
    padding: 32px;
  }

  #nav .nav-item {
    display: block;
    text-align: start;
  }

  .nav-item + .nav-item {
    margin-top: 20px;
  }

  .nav-item::after {
    display: none;
  }

  /* Target - About */
  #target-about .target-about-content {
    grid-template-columns: 1fr;
  }

  /* Container */
  #container {
    grid-template-columns: 1fr;
  }

  .certificate-award-content {
    /* padding-left: 32px;
    padding-right: 32px; */
    width: 80%;
    margin: 0 auto;
  }

  .certificate-award-item {
    display: block;
    height: 300px;
  }

  #certificate-award .certificate-award-item img {
    width: 100%;
  }

  .certificate-award-heading {
    padding-left: 40px;
  }

  .certificate-award-list {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
  }

  .certificate-award-item + .certificate-award-item {
    border-top: 2px solid #d6c08d;
    padding-top: 40px;
  }

  .certificate-award-item:nth-child(2n) {
    border-left: none;
    padding-left: 0;
  }

  /* Dự án */
  .project-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  #project .project-content,
  #project h2,
  .project-content {
    padding: 0 16px;
  }

  /* footer */
  .footer-text {
    display: none;
  }

  #footer a i {
    font-size: 300%;
  }

  /* Project-charter */
  #project-charter {
    grid-template-columns: 1fr;
  }

  .content-item {
    flex-direction: column;
  }
  .content-item i {
    align-self: center;
  }

  #goals {
    order: 1;
  }

  #scopes {
    order: 2;
  }

  #team {
    order: 3;
  }

  #primary {
    order: 4;
  }

  #timeline {
    order: 5;
  }
}
