@media (min-width: 46.25em) and (max-width: 63.9375em) {
  #target-about,
  #banner,
  #nav {
    position: initial;
  }

  /* Navigation */
  #nav {
    padding: 0 64px;
  }

  #nav .nav-item .name,
  #nav .nav-item .job,
  #nav .advanced {
    display: none;
  }

  #nav .nav-item {
    height: 48px;
    line-height: 48px;
    flex-grow: 1;
  }

  /* Container */
  #container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 64px;
  }

  #activity {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  #skill {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #favourite {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  /* Chứng chỉ - Giải thưởng */
  .certificate-award-content {
    padding-left: 32px;
    padding-right: 32px;
  }

  .certificate-award-item {
    display: block;
    height: 300px;
  }

  #certificate-award .certificate-award-item img {
    width: 100%;
  }

  .certificate-award-heading,
  .certificate-award-list {
    padding: 0 16px;
  }

  .certificate-award-item:first-child,
  .certificate-award-item:last-child {
    padding-right: 20px;
  }

  #certificate-award .certificate-award-item:last-child img {
    width: 50%;
  }

  /* Dự án */
  #project .project-content,
  #project h2,
  .project-content {
    padding: 0 16px;
  }

  /* footer */
  #footer a i {
    font-size: 250%;
  }

  /* Project-charter */
  #project-charter {
    grid-template-columns: 1fr;
  }

  .content-item {
    flex-direction: column;
  }
  .content-item i {
    align-self: center;
  }

  #goals {
    order: 1;
  }

  #scopes {
    order: 2;
  }

  #team {
    order: 3;
  }

  #primary {
    order: 4;
  }

  #timeline {
    order: 5;
  }
}
